@charset "utf-8";

.mdc-top-app-bar {
  top: 0;
  left: 0;
  right: 0;
  background-color: #303030;
  z-index: 1;
}

.mdc-top-app-bar--fixed-adjust {
  margin: 0;
  top: 0;
  padding-top: 56px;
}

.mdc-top-app-bar__row section h1 {
  line-height: 1rem;
  text-transform: uppercase;
}

.mdc-top-app-bar__navigation-icon {
  height: 100%;
  font-size: 3rem;
  line-height: 3rem;
}

.mdc-top-app-bar__action-item {
  height: 100%;
  font-size: 2.75rem;
  line-height: 2.75rem;
}

.mdc-top-app-bar .mdc-typography--headline3 {
  font-size: 1.75rem;
}

.mdc-layout-grid__inner {
  width: 100%;
}

.mdc-card {
  border-radius: 0;
}

.mdc-card__media--square::before {
  margin-top: 0;
}

.mdc-card__primary, .mdc-card__secondary {
  padding: 12px;
}

.mdc-select--box:not(.mdc-select--disabled) {
  color: #000000;
}

.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control:focus ~ .mdc-floating-label {
  color: #7a4e00;
}

.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control:focus ~ .mdc-line-ripple {
  background-color: #7a4e00;
}

html {
  height: 100%;
}

body {
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  position: relative;
}

body, p {
  font-size: 18px;
  color: #333;
  line-height: 1.5em;
}

img, embed, object, video {
  max-width: 100%;
}

button:hover, button:focus, a:hover, a:focus {
  outline: none;
  color: inherit;
  text-decoration: none;
}

a {
  color: #ffd785;
  text-decoration: none;
}

header, footer, section {
  display: block;
}

header, footer, section, div {
  box-sizing: border-box;
}

/* Focus style */
#footer > a:hover,
#footer > a:focus {
  background: #155c8e;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0),
  0 3px 1px -2px rgba(0, 0, 0, 0),
  0 1px 5px 0 rgba(0, 0, 0, 0);
}

/* Main content */
#maincontent {
  min-height: 100%;
  min-width: 300px;
  padding-bottom: 120px;
}

/*Google maps */
#map-container {
  text-align: center;
  vertical-align: middle;
}

#map-container, #map {
  height: 400px;
  max-width: 100%;
  background-color: #ccc;
}

/* Restaurant container */
#restaurant-container {
  padding: 40px;
}

/* Filters */
.filter-container {
  background-color: #155c8e;
  color: #ffffff;
}

.filter-container .mdc-layout-grid__inner {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.filter-container .mdc-select {
  width: 100%;
}

/* Footer */
#footer {
  min-width: 300px;
  background-color: #444;
  color: #dbdbdb;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80px;
}

#footer a {
  padding: 10px;
  border-radius: 8px;
}

/* Common styles */
.mdc-top-app-bar, #footer, #map-container, #map, #restaurant-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Media queries */
@media screen and (min-width: 550px) {
  .filter-container .mdc-layout-grid__inner {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media screen and (min-width: 900px) {
  .mdc-top-app-bar--fixed-adjust {
    padding-top: 64px;
  }
}

@media screen and (min-width: 900px) {
  .mdc-top-app-bar, .mdc-top-app-bar__row {
    height: 72px;
  }

  .mdc-top-app-bar--fixed-adjust {
    padding-top: 72px;
  }

  .mdc-top-app-bar__navigation-icon {
    width: 68px;
    font-size: 3.75rem;
    line-height: 3.75rem;
  }

  .mdc-top-app-bar__action-item {
    width: 68px;
    font-size: 3rem;
    line-height: 3rem;
  }

  .mdc-top-app-bar .mdc-typography--headline3 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1050px) {
  .filter-container .mdc-layout-grid__inner {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .filter-container h2 {
    text-align: right;
  }
}

@media screen and (min-width: 1350px) {
  .mdc-top-app-bar, .mdc-top-app-bar__row {
    height: 96px;
  }

  .mdc-top-app-bar--fixed-adjust {
    padding-top: 96px;
  }

  .mdc-top-app-bar__navigation-icon {
    width: 92px;
    font-size: 4.5rem;
    line-height: 4.5rem;
  }

  .mdc-top-app-bar__action-item {
    width: 92px;
    font-size: 3.25rem;
    line-height: 3.25rem;
  }

  .mdc-top-app-bar .mdc-typography--headline3 {
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 1800px) {
  .mdc-top-app-bar, .mdc-top-app-bar__row {
    height: 120px;
  }

  .mdc-top-app-bar--fixed-adjust {
    padding-top: 120px;
  }

  .mdc-top-app-bar__navigation-icon {
    width: 116px;
    font-size: 5.25rem;
    line-height: 5.25rem;
  }

  .mdc-top-app-bar__action-item {
    width: 116px;
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  .mdc-top-app-bar .mdc-typography--headline3 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 2250px) {
  .mdc-top-app-bar, .mdc-top-app-bar__row {
    height: 144px;
  }

  .mdc-top-app-bar--fixed-adjust {
    padding-top: 144px;
  }

  .mdc-top-app-bar__navigation-icon {
    width: 140px;
    font-size: 6rem;
    line-height: 6rem;
  }

  .mdc-top-app-bar__action-item {
    width: 140px;
    font-size: 3.75rem;
    line-height: 3.75rem;
  }

  .mdc-top-app-bar .mdc-typography--headline3 {
    font-size: 2.75rem;
  }

  .mdc-top-app-bar, #footer, #map-container, #map, #restaurant-container, #filters {
    width: 2000px;
  }
}