@charset "utf-8";
$mdc-theme-primary: #155c8e;
$mdc-theme-secondary: #155c8e;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #ffffff;

@import "../../node_modules/@material/typography/mdc-typography";
@import "../../node_modules/@material/layout-grid/mdc-layout-grid";
@import "../../node_modules/@material/grid-list/mdc-grid-list";
@import "../../node_modules/@material/card/mdc-card";
@import "../../node_modules/@material/button/mdc-button";
@import "../../node_modules/@material/icon-toggle/mdc-icon-toggle";
@import "../../node_modules/@material/top-app-bar/mdc-top-app-bar";
@import "../../node_modules/@material/floating-label/mdc-floating-label";
@import "../../node_modules/@material/select/mdc-select";
@import "../../node_modules/@material/list/mdc-list";
@import "../../node_modules/@material/fab/mdc-fab";
@import "../../node_modules/@material/animation/functions";
@import "../../node_modules/@material/textfield/mdc-text-field";
@import "../../node_modules/@material/slider/mdc-slider";
@import "../../node_modules/@material/chips/mdc-chips";
@import "../../node_modules/@material/snackbar/mdc-snackbar";

@keyframes fade-in {
  from {
    transform: translateY(0);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#reviews-container .mdc-card:last-child {
  animation: mdc-animation-enter(fade-in, 6000ms);
}

//.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__path {
//  stroke: #155c8e;
//}

.mdc-top-app-bar .mdc-top-app-bar__navigation-icon {
  color: #ffffff;
}

.mdc-snackbar {
  background-color: #155c8e;
  z-index: 2;
}