@charset "utf-8";

.mdc-top-app-bar {
  top: 0;
  left: 0;
  right: 0;
  background-color: #303030;
  z-index: 1;
}

.mdc-top-app-bar--fixed-adjust {
  margin: 0;
  top: 0;
  padding-top: 56px;
}

.mdc-card {
  border-radius: 0;
  margin-top: 20px;
}

.mdc-card__media--square::before {
  margin-top: 0;
}

.mdc-card__primary, .mdc-card__secondary {
  padding: 0 16px;
}

.mdc-list {
  padding: 16px 0;
  color: rgba(0, 0, 0, .95);
  color: var(--mdc-theme-text-hint-on-background, rgba(0, 0, 0, .95));
}

.mdc-list-item__meta {
  color: rgba(0, 0, 0, .75);
  color: var(--mdc-theme-text-hint-on-background, rgba(0, 0, 0, .75));
}

.mdc-text-field--outlined, .mdc-text-field--textarea {
  width: 100%;
}

.mdc-chip .mdc-chip__icon.mdc-chip__icon--leading {
  color: rgba(0,0,0,.72);
}

html {
  height: 100%;
}

body {
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  position: relative;
}

body, p {
  font-size: 18px;
  color: #333;
  line-height: 1.5em;
}

img, embed, object, video {
  max-width: 100%;
}

button:hover, button:focus, a:hover, a:focus {
  outline: none;
  color: inherit;
  text-decoration: none;
}

a {
  color: #ffd785;
  text-decoration: none;
}

header, footer, section {
  display: block;
}

header, footer, section, div {
  box-sizing: border-box;
}

/* Focus style */
#footer > a:hover, #footer > a:focus {
  background-color: #155c8e;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0),
  0 3px 1px -2px rgba(0, 0, 0, 0),
  0 1px 5px 0 rgba(0, 0, 0, 0);
}

/* Main content */
#maincontent {
  min-height: 100%;
  min-width: 300px;
  padding-bottom: 120px;
}

/*Google maps */
#map-container {
  text-align: center;
  vertical-align: middle;
}

#map-container, #map {
  height: 400px;
  max-width: 100%;
  background-color: #ccc;
}

/* Breadcrumb */
#breadcrumb-container {
  max-width: 100%;
}

#breadcrumb {
  padding: 24px 48px 24px;
  list-style: none;
  background-color: #eee;
  font-size: 18px;
  margin: 0;
}

#breadcrumb-container, #breadcrumb {
  background-color: #155c8e;
}

#breadcrumb li {
  display: inline;
  font-size: 18px;
}

#breadcrumb li + li:before {
  padding: 8px;
  color: #d9d9d9;
  content: "/\00a0";
}

#breadcrumb li a[aria-current="page"] {
  color: #d9d9d9;
}

#breadcrumb li a:focus,
#breadcrumb li a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Reviews */
#restaurant-container, #reviews-container, #add-review-container {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  max-width: 100%;
}

#reviews-container h3, #add-review-container h5 {
  text-align: center;
}

#reviews-container .mdc-card .mdc-card__secondary, #add-review-container .mdc-card .mdc-card__secondary, .mdc-snackbar {
  text-transform: none;
}

/* FAB button*/
#add-review {
  //background-color: #155c8e;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/* Footer */
#footer {
  min-width: 300px;
  background-color: #444;
  color: #dbdbdb;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80px;
}

#footer a {
  padding: 10px;
  border-radius: 8px;
}

/* Common styles */
#footer, #map-container, #map, #breadcrumb-container, #restaurant-container, #reviews-container, #add-review-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 900px) {
  #breadcrumb li, #restaurant-address, #reviews-list li p, #restaurant-hours td {
    font-size: 20px;
  }

  #restaurant-container, #reviews-container, #add-review-container, #maincontent hr {
    width: 900px;
  }
}

@media screen and (min-width: 1350px) {
  #breadcrumb li, #restaurant-address, #reviews-list li p, #restaurant-hours td {
    font-size: 22px;
  }
}

@media screen and (min-width: 1800px) {
  #breadcrumb li, #restaurant-address, #reviews-list li p, #restaurant-hours td {
    font-size: 24px;
  }
}

@media screen and (min-width: 2250px) {
  #breadcrumb li, #restaurant-address, #reviews-list li p, #restaurant-hours td {
    font-size: 26px;
  }

  #footer, #breadcrumb-container, #restaurant-container, #reviews-container, #add-review-container, #map-container, #map {
    width: 2000px;
  }
}