@charset "utf-8";

.mdc-top-app-bar {
  top: 0;
  left: 0;
  right: 0;
  background-color: #303030;
  z-index: 1;
}

.mdc-top-app-bar--fixed-adjust {
  margin: 0;
  top: 0;
  padding-top: 56px;
}

.mdc-top-app-bar__row section h1 {
  line-height: 1rem;
  text-transform: uppercase;
}

.mdc-top-app-bar__navigation-icon {
  height: 100%;
  font-size: 3rem;
  line-height: 3rem;
}

.mdc-card {
  border-radius: 0;
  margin-top: 20px;
}

.mdc-card__media--square::before {
  margin-top: 0;
}

.mdc-card__primary, .mdc-card__secondary {
  padding: 0 16px;
}

.mdc-list {
  padding: 16px 0;
}

.mdc-top-app-bar .mdc-top-app-bar__navigation-icon {
  color: #ffffff;
}

.mdc-text-field--outlined, .mdc-text-field--textarea {
  width: 100%;
}

html {
  height: 100%;
}

body {
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  position: relative;
}

body, p {
  font-size: 18px;
  color: #333;
  line-height: 1.5em;
}

img, embed, object, video {
  max-width: 100%;
}

button:hover, button:focus, a:hover, a:focus {
  outline: none;
  color: inherit;
  text-decoration: none;
}

a {
  color: #ffd785;
  text-decoration: none;
}

header, footer, section {
  display: block;
}

header, footer, section, div {
  box-sizing: border-box;
}

/* Focus style */
#footer > a:hover, #footer > a:focus {
  background-color: #155c8e;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0),
  0 3px 1px -2px rgba(0, 0, 0, 0),
  0 1px 5px 0 rgba(0, 0, 0, 0);
}

/* Main content */
#maincontent {
  min-height: 100%;
  min-width: 300px;
  padding-bottom: 120px;
}

/*Google maps */
#map-container {
  text-align: center;
  vertical-align: middle;
}

#map-container, #map {
  height: 400px;
  max-width: 100%;
  background-color: #ccc;
}

/* Breadcrumb */
#breadcrumb-container {
  max-width: 100%;
}

#breadcrumb {
  padding: 24px 48px 24px;
  list-style: none;
  background-color: #eee;
  font-size: 18px;
  margin: 0;
}

#breadcrumb-container, #breadcrumb {
  background-color: #155c8e;
}

#breadcrumb li {
  display: inline;
  font-size: 18px;
}

#breadcrumb li + li:before {
  padding: 8px;
  color: #d9d9d9;
  content: "/\00a0";
}

#breadcrumb li a[aria-current="page"] {
  color: #d9d9d9;
}

#breadcrumb li a:focus,
#breadcrumb li a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Reviews */
#restaurant-container, #reviews-container, #add-review-container {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  max-width: 100%;
}

#reviews-container h2, #add-review-container h4 {
  text-align: center;
}

//#add-review-container, #reviews-container .mdc-card .mdc-card__secondary {
#reviews-container .mdc-card .mdc-card__secondary, #add-review-container .mdc-card .mdc-card__secondary, .mdc-snackbar {
  text-transform: none;
}

//#add-review-container {
//  position: fixed;
//  z-index: 2;
//  bottom: 0;
//  padding: 0 32px;
//  left: 50%;
//  transform: translate(-50%, 0);
//}

//#add-review-container .mdc-card {
//  box-shadow: 0 2px 2px 0 rgba(255, 215, 133, 133), 0 3px 1px -2px rgba(255, 215, 133, 133), 0 1px 5px 0 rgba(255, 215, 133, 133);
//}

/* FAB button*/
#add-review {
  //background-color: #155c8e;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/* Footer */
#footer {
  min-width: 300px;
  background-color: #444;
  color: #dbdbdb;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80px;
}

#footer a {
  padding: 10px;
  border-radius: 8px;
}

/* Common styles */
.mdc-top-app-bar, #footer, #map-container, #map, #breadcrumb-container, #restaurant-container, #reviews-container, #add-review-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Media queries */
@media screen and (min-width: 550px) {
  .filter-container .mdc-layout-grid__inner {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media screen and (min-width: 900px) {
  .mdc-top-app-bar--fixed-adjust {
    padding-top: 64px;
  }
}

@media screen and (min-width: 900px) {
  .mdc-top-app-bar, .mdc-top-app-bar__row {
    height: 72px;
  }

  .mdc-top-app-bar--fixed-adjust {
    padding-top: 72px;
  }

  .mdc-top-app-bar__navigation-icon {
    width: 68px;
    font-size: 4rem;
    line-height: 4rem;
  }

  #breadcrumb li, #restaurant-cuisine, #restaurant-address, #reviews-list li p, #restaurant-hours td {
    font-size: 20px;
  }

  #restaurant-container, #reviews-container, #add-review-container, #maincontent hr {
    width: 900px;
  }
}

@media screen and (min-width: 1050px) {
  .filter-container .mdc-layout-grid__inner {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .filter-container h2 {
    text-align: right;
  }
}

@media screen and (min-width: 1350px) {
  .mdc-top-app-bar, .mdc-top-app-bar__row {
    height: 96px;
  }

  .mdc-top-app-bar--fixed-adjust {
    padding-top: 96px;
  }

  .mdc-top-app-bar__navigation-icon {
    width: 92px;
    font-size: 5rem;
    line-height: 5rem;
  }

  #breadcrumb li, #restaurant-cuisine, #restaurant-address, #reviews-list li p, #restaurant-hours td {
    font-size: 22px;
  }
}

@media screen and (min-width: 1800px) {
  .mdc-top-app-bar, .mdc-top-app-bar__row {
    height: 120px;
  }

  .mdc-top-app-bar--fixed-adjust {
    padding-top: 120px;
  }

  .mdc-top-app-bar__navigation-icon {
    width: 116px;
    font-size: 6rem;
    line-height: 6rem;
  }

  #breadcrumb li, #restaurant-cuisine, #restaurant-address, #reviews-list li p, #restaurant-hours td {
    font-size: 24px;
  }
}

@media screen and (min-width: 2250px) {
  .mdc-top-app-bar, .mdc-top-app-bar__row {
    height: 144px;
  }

  .mdc-top-app-bar--fixed-adjust {
    padding-top: 144px;
  }

  .mdc-top-app-bar__navigation-icon {
    width: 140px;
    font-size: 7rem;
    line-height: 7rem;
  }

  .mdc-top-app-bar, #footer, #map-container, #map, #breadcrumb-container {
    width: 2000px;
  }

  #breadcrumb li, #restaurant-cuisine, #restaurant-address, #reviews-list li p, #restaurant-hours td {
    font-size: 26px;
  }

  .header, #footer, #breadcrumb-container, #restaurant-container, #reviews-container, #add-review-container, #map-container, #map {
    width: 2000px;
  }
}