@charset "utf-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body, td, th, p {
    font-size: 18px;
    color: #333;
    line-height: 1.5em;
}

body {
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}

img, embed, object, video {
    max-width: 100%;
}

nav a, button {
    min-width: 48px;
    min-height: 48px;
}

ul, li {
    font-size: 18px;
    color: #333;
}

a {
    color: #ffd785;
    text-decoration: none;
}

a:hover, a:focus {
    color: #fff;
    text-decoration: none;
}

a img {
    border: none 0 #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

select {
    font-size: 16px;
}

#maincontent {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.inside #maincontent {
    display: block;
}

#footer {
    background-color: #444;
    color: #dbdbdb;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}

#footer a {
    padding: 0.6em;
}

header, nav, footer, section, article, div {
    box-sizing: border-box;
}

.header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    height: 48px;
    transition: height 0.3s;
    background-color: #252831;
}

.navbar {
    position: relative;
    font-weight: 300;
    height: 100%;
}

.header_logo {
    height: 100%;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
}

.header_logo svg {
    height: 100%;
    width: 100%;
}

.header_title {
    height: 100%;
    font-size: 24px;
    margin: 0;
    text-transform: uppercase;
}

.header_title a {
    color: #ffffff;
}

.navbar .navbar-brand {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    overflow: visible;
}

.navbar-brand {
    display: inline-block;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    height: 100%;
    width: 48px;
}

#breadcrumb li {
    display: inline;
    font-size: 18px;
    color: #d9d9d9;
}

#breadcrumb li + li:before {
    padding: 8px;
    color: #d9d9d9;
    content: "/\00a0";
}

#breadcrumb li a {
    text-decoration: none;
}

#breadcrumb li a:hover {
    text-decoration: underline;
}

#map-container, #map {
    height: 400px;
    max-width: 100%;
    background-color: #ccc;
}

@media screen and (min-width: 2250px) {
    #map-container, #map {
        width: 2000px;
    }
}

.filter-container {
    background-color: #155c8e;
}

.filter-options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filter-options h2 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5em;
    width: 100%;
}

.filter-options label {
    font-size: 18px;
    color: #ffffff;
}

.filter-options select {
    background-color: white;
    border: 1px solid #fff;
    font-size: 16px;
    height: 35px;
    letter-spacing: 0;
    width: 100%;
}

.filter-header-container {
    margin: 10px 10px 0;
}

.filter-neighborhood-container, .filter-cuisine-container {
    width: 100%;
    margin: 10px;
}

@media screen and (min-width: 2250px) {
    .filter-options {
        width: 2000px;
    }
}

#restaurant-container {
    max-width: 100%;
}

.inside #restaurant-container {
    padding: 32px;
}

.restaurants-list-container {
    padding: 48px;
}

#restaurants-list {
    background-color: #f3f3f3;
    list-style: outside none none;
    text-align: center;
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#restaurants-list li, #reviews-list li {
    background-color: #fff;
    border: 2px solid #ccc;
    text-align: left;
    display: inline-block;
}

#reviews-list li {
    margin: 20px 0 20px;
}

#reviews-list li p {
    padding: .4em;
}

#restaurants-list li h1 {
    color: #8a4700;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.5em;
    margin: 20px 10px 10px;
    text-transform: uppercase;
}

#restaurants-list p, #reviews-list p {
    margin: 0 10px 0;
    font-size: 18px;
}

#restaurants-list li a {
    background-color: #7a4e00;
    border-bottom: 3px solid #eee;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
    min-height: auto;
    margin: 10px 10px 10px;
}

@supports (display: grid) {
    #restaurants-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    @media screen and (min-width: 900px) {
        #restaurants-list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (min-width: 1350px) {
        #restaurants-list {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media screen and (min-width: 1800px) {
        #restaurants-list {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    @media screen and (min-width: 2250px) {
        #restaurants-list {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}

#reviews-container h2 {
    color: #8a4700;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

#restaurant-hours td {
    color: #666;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .2);
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

hr {
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.header, #footer, .restaurants-list-container, #restaurant-container, .filter-options, #map-container, #map, #breadcrumb-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#maincontent hr {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 450px) {
    .restaurants-list-container {
        width: 400px;
    }

    .filter-header-container {
        width: 100%;
    }

    .filter-neighborhood-container, .filter-cuisine-container {
        width: 45%;
    }
}

@media screen and (min-width: 900px) {
    .header_logo {
        padding: .5em;
    }

    .header {
        height: 72px;
    }

    .navbar-brand {
        width: 72px;
    }

    .header_title {
        font-size: 30px;
    }

    .restaurants-list-container {
        width: 800px;
    }

    .inside #restaurant-container, #maincontent hr {
        width: 900px;
    }

    #restaurants-list li a, .filter-options select, select, #footer {
        font-size: 16px;
    }

    #restaurants-list p, .filter-options label, #breadcrumb li {
        font-size: 20px;
    }

    #restaurants-list li h1, .filter-options h2, #reviews-container h2 {
        font-size: 22px;
    }

    .filter-options {
        display: flex;
        flex-wrap: initial;
        width: 900px;
    }

    .filter-header-container {
        max-width: 200px;
        text-align: right;
        margin: 58px 10px 10px;
    }

    .filter-neighborhood-container, .filter-cuisine-container {
        max-width: 350px;
    }
}

@media screen and (min-width: 1350px) {
    .header {
        height: 96px;
    }

    .navbar-brand {
        width: 96px;
    }

    .header_title {
        font-size: 36px;
    }

    .restaurants-list-container {
        width: 1200px;
    }

    #restaurants-list li a, .filter-options select, select, #footer {
        font-size: 18px;
    }

    #restaurants-list p, .filter-options label, #breadcrumb li {
        font-size: 22px;
    }

    #restaurants-list li h1, .filter-options h2, #reviews-container h2 {
        font-size: 24px;
    }
}

@media screen and (min-width: 1800px) {
    .header {
        height: 120px;
    }

    .navbar-brand {
        width: 120px;
    }

    .header_title {
        font-size: 42px;
    }

    .restaurants-list-container {
        width: 1600px;
    }

    #restaurants-list li a, .filter-options select, select, #footer {
        font-size: 20px;
    }

    #restaurants-list p, .filter-options label, #breadcrumb li {
        font-size: 24px;
    }

    #restaurants-list li h1, .filter-options h2, #reviews-container h2 {
        font-size: 26px;
    }
}

@media screen and (min-width: 2250px) {
    .header {
        height: 144px;
    }

    .navbar-brand {
        width: 144px;
    }

    .header_title {
        font-size: 48px;
    }

    .header, #footer, .restaurants-list-container, #restaurant-container, #map-container {
        width: 2000px;
    }

    #restaurants-list li a, .filter-options select, select, #footer {
        font-size: 22px;
    }

    #restaurants-list p, .filter-options label, #breadcrumb li {
        font-size: 26px;
    }

    #restaurants-list li h1, .filter-options h2, #reviews-container h2 {
        font-size: 28px;
    }
}